{% extends '@Public/shells/simple.html.twig' %}

{% block docTitleWrap %}
{{parent()}}
{% if doc.name != 'error' %}
<!--
{{include_data('ascii-sig.txt')|raw-}}
-->
{% endif %}
{% endblock %}

{% block docBody %}
<div class="a--0" id="top">
	<nav class="a--nav" aria-label="app">
		<div class="a--navl">
			<a--navi><a class="a--navma a--nava" href="#main" title="#Main content"><a--navt>Main</a--navt></a></a--navi>
			<a--navi><a class="a--navsa a--nava" href="{{path('public_site_nav')}}" title="Site navigation"><a--navt>Nav</a--navt></a></a--navi>
		</div>
	</nav>
	<header class="a--head" role="banner">
		{% if doc.name != 'home' %}<a class="a--logoa" href="{{path('public_home')}}">{% endif %}
			<a--hmain>
				<a--logo>&lt;toby&gt;</a--logo>
				<a--htag><a--htagw>Mackenzie</a--htagw>'s site</a--htag>
			</a--hmain>
		{% if doc.name != 'home' %}</a>{% endif %}
		{% if tm.headerMessage is not empty %}<div class="a--message">{{tm.headerMessage|raw}}</div>{% endif %}
		<hr />
	</header>
	<a--main><main role="main">
		<a name="main" id="main"></a>
		{% block docMain %}{% endblock %}
	</main></a--main>
	{% block docAside %}{% endblock %}
	{% if page.secureUrl is defined and doc.name != 'error' %}
	<a--foot>
		<footer role="contentinfo">
			<p class="a--sec">This page is also <a href="{{page.secureUrl}}" rel="alternate">available over more secure, encrypted HTTPS</a>.</p>
		</footer>
	</a--foot>
	{% endif %}
</div>
<a--end id="bottom">&lt;/toby&gt;</a--end>
<a--bg></a--bg>
{% if app.environment == 'dev' %}<s id="TJMDEV" hidden=""></s>{% endif %}
{% endblock %}
