{% extends page.shell %}
{%block docMain %}
<article class="m--0">
	{% if heading is defined %}<h1>{{heading}}</h1>{% endif %}
	{{content|raw}}
{% if formats is defined %}
	<footer class="m--alt">
		<hr />
		<strong>This page also available as:</strong>
		<m--altl>
{% 	for format in formats %}
			<m--alti><a href="{{format.path}}" rel="alternate" type="{{format.type}}">{{format.name}}</a></m--alti>
{% 	endfor %}
		</m--altl>
		<hr />
	</footer>
{% endif %}
</article>
{% endblock %}
