{% extends page.shell %}
{%block docMain %}
<article class="mainItem">
	{% if heading is defined %}<h1>{{heading}}</h1>{% endif %}
	{{content|raw}}
{% if formats is defined %}
	<footer class="mainItemAltFormats">
		<hr />
		<strong>This page also available as:</strong>
		<span class="mainItemAltFormatsList">
{% 	for format in formats %}
			<span class="mainItemAltFormat"><a href="{{format.path}}" rel="alternate" type="{{format.type}}">{{format.name}}</a></span>
{% 	endfor %}
		</span>
		<hr />
	</footer>
{% endif %}
</article>
{% endblock %}
