{% extends '@Public/shells/simple.html.twig' %}

{% block docTitleWrap %}
{{parent()}}
{% if doc.name != 'error' %}
<!--
._______.  _____  ._____   __     _.
|__   __| /  _  \ |   _  \ \ \  / /
   | |   |  | |  ||  |_| /   \ v /
   | |   |  | |  ||   _  \    | |
   | |   |  |_|  ||  |_|  \   | |
   |_|    \_____/ |______/    |_|
__     __    _      ______ ._.    __._______.._    ._. _______.._______.._______.
| \   / |  /   \   /  __  \| |   / /| ._____|| \   | ||_____  ||__   __|| ._____|
|  \ /  | /  ◊  \ | /    \|| | / /  | |_____.|  \  | |     / /    | |   | |_____.
| |\˘/| ||  / \  || |      |   <    | ._____|| |\ \| |   / /      | |   | ._____|
| | ˘ | || |   | || \___/¯|| | \ \  | |_____.| |  \  | / /____ .__| |__.| |_____.
|_|   |_||_|   |_| \_____/ |_|   \_\|_______||_|   \_||_______||_______||_______|
-->
{% endif %}
{% endblock %}

{% block docBody %}
<a name="top"></a>
<div class="app">
	<nav class="appNav" aria-label="app">
		<div class="appNavList">
			<span class="appNavItem"><a class="appMainAction appNavAction" href="#appMain" title="#Main content"><span class="appNavItemText">Main</span></a></span>
			<span class="appNavItem"><a class="appSiteNavAction appNavAction" href="{{path('public_site_nav')}}" title="Site navigation"><span class="appNavItemText">Nav</span></a></span>
		</div>
	</nav>
	<div class="appHeader">
		<header class="appHeaderContent" role="banner">
			{% if doc.name != 'home' %}<a class="appLogoAction" href="{{path('public_home')}}">{% endif %}
				<span class="appLogo">&lt;toby&gt;</span>
				<span class="appHeaderTagline"><span class="appHeaderTaglineWVP">Mackenzie</span>'s site</span>
			{% if doc.name != 'home' %}</a>{% endif %}
			{% if tm.headerMessage is not empty %}<div class="appHeaderMessage">{{tm.headerMessage|raw}}</div>{% endif %}
		</header>
		<hr />
	</div>
	<div class="appMain"><main class="appMainContent" role="main">
		<a name="appMain"></a>
		{% block docMain %}{% endblock %}
	</main></div>
	{% block docAside %}{% endblock %}
	{% if page.secureUrl is defined and doc.name != 'error' %}
	<div id="appFooter" class="appFooter">
		<footer class="appFooterContent" role="contentinfo">
			<p class="appSecureMessage">This page is also <a href="{{page.secureUrl}}" rel="alternate">available over more secure, encrypted HTTPS</a>.</p>
		</footer>
	</div>
	{% endif %}
</div>
<div id="bottom" class="appEndLogo">&lt;/toby&gt;</div>
<div class="appBG"></div>
{% endblock %}
